mixin head-block()
	.head-block(class= attributes.hasTitle ? 'head-block_has-title' : '')
		.container
			.row
				.head-block__banner-lg-wrap(class= attributes.hasTitle ? 'col-md-7 push-md-2 col-lg-8 push-lg-1' : 'col-md-9')
					.head-block__banner-lg-i
						.banner-lg.head-block__banner-lg

							each val in attributes.lgData
								.banner-lg__i(style="background-image: url(" + val.img + ");")

									if (attributes.hasTitle)
										p.banner-lg__welcome Добро пожаловать на борт

				.col-12.head-block__last

					- var last = attributes.textData[0];

					if (last.title)
						h2.title= last.title

					if (last.text)
						.head-block__desc!= last.text

					if (last.btn)
						.text-center
							a.btn.head-block__btn(href="#")= last.btn

				.head-block__banner-sm-wrap(class= attributes.hasTitle ? 'col-md-3 push-md-2 push-lg-1' : 'col-md-3')
					each val in attributes.smData
						.head-block__banner-sm-i
							a.banner-sm.head-block__banner-sm(href= val.link)
								.banner-sm__img(style= "background-image: url(" + val.img + ");")
								.banner-sm__text= val.text