$name: banner;

.#{$name} {
	display: block;
	position: relative;
	padding-bottom: 33.333333%;

	.slick-list {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__img {
		display: block;
		background: no-repeat 50% 50% / cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: none;

		&_fog {

			&::before {
				@extend %fog;
			}
		}

		&_contain {
			background-size: contain;
		}
	}

	&__text,
	&__desc {
		position: absolute;
		width: 100%;
		padding: 0 15%;
		text-align: center;
		color: white;

		@include screen-md() {
			padding: 0 10%;
		}
	}

	&__text {
		top: 50%;
		line-height: 1;
		font-size: 3rem;
		transform: translateY(-50%);
	}

	&__desc {
		top: 0;
		color: white;
		font-size: 1.6rem;
		line-height: 1.1;

		@include screen-sm() {
			top: 50%;
			transform: translateY(-30%);
		}
	}

	&_bigheight {
		padding-bottom: 52%;
	}
}

a.#{$name} {
	border-bottom: none;

	&:hover {

		.#{$name} {

			&__img {

				&_fog {

					&::before {
						opacity: .5;
					}
				}
			}
		}
	}

	&__img {

		&_fog {

			&:hover {

				&::before {
					opacity: .5;
				}
			}
		}
	}
}