$name: banner;

.#{$name} {
	display: block;
	position: relative;
	padding-bottom: 33.333333%;

	.slick-list {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__img {
		display: block;
		background: no-repeat 50% 50% / cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: none;

		&_fog {

			&::before {
				//@extend %fog;
			}
		}

		&_contain {
			background-size: contain;
		}
	}

	&__text,
	&__desc {
		position: absolute;
		left: 50%;
		max-width: 70%;
		text-align: center;
		color: white;
		background: $color-fog;
		padding: .5em 1em;
		border-radius: .3em;
		transition: $duration ease;

		@include screen-md() {
			max-width: 80%;
		}
	}

	&__text {
		top: 50%;
		line-height: 1;
		font-size: 3rem;
		transform: translate(-50%, -50%);
	}

	&__desc {
		top: 0;
		color: white;
		font-size: 1.6rem;
		line-height: 1.1;

		@include screen-sm() {
			top: 50%;
			transform: translate(50%, -30%);
		}
	}

	&_bigheight {
		padding-bottom: 52%;
	}
}

a.#{$name} {

	&__img {
		border-bottom: none;

		&_fog {

			&:hover {

				.#{$name} {

					&__text,
					&__desc {
						background: $color-fog-light;
					}
				}
			}
		}
	}

	//&__img {
	//
	//	&_fog {
	//
	//		&:hover {
	//
	//			&::before {
	//				opacity: .5;
	//			}
	//		}
	//	}
	//}
}