$name: banner;

.#{$name} {
	display: block;
	position: relative;
	padding-bottom: 56%;

	.slick-list {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	@include screen-md() {
		padding-bottom: 33.333333%;
	}

	&__img {
		display: block;
		background: no-repeat 50% 50% / cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		&_fog {

			&::before {
				@extend %fog;
			}
		}

		&_contain {
			background-size: contain;
		}
	}

	&__text {
		position: absolute;
		top: 50%;
		width: 100%;
		padding: 0 15px;
		text-align: center;
		line-height: 1;
		transform: translateY(-50%);
		color: white;
		font-size: 3rem;
	}
}

a.#{$name} {
	border-bottom: none;

	&:hover {

		.#{$name} {

			&__img {

				&_fog {

					&::before {
						opacity: .5;
					}
				}
			}
		}
	}

	&__img {

		&_fog {

			&:hover {

				&::before {
					opacity: .5;
				}
			}
		}
	}
}