$name: bread;

.#{$name} {
	list-style-type: none;
	margin: 0;
	padding: 0;

	&::after {
		content: '';
		display: table;
		width: 100%;
		clear: both;
	}

	&__item {
		position: relative;
		float: left;

		&::after {
			content: '\f101';
			position: absolute;
			right: 0;
			top: 0;
			width: 2rem;
			font-family: $font-fa;
			text-align: center;
			color: $color-text-2;
		}

		&:last-child {

			&::after {
				content: none;
			}
		}
	}

	&__link {
		margin-right: 2rem;

		&:hover {
			color: $color-main;
		}
	}

	&__text {
		color: $color-text;
	}
}