.btn {
	font-size: 1.4rem;
	color: white;
	background: linear-gradient(to right, $color-grad-1, $color-grad-2);
	display: inline-block;
	text-decoration: none;
	outline: none;
	padding: 1em 4em;
	line-height: 1.2;
	text-transform: uppercase;

	&:hover {
		color: white;
		background: linear-gradient(to right, lighten($color-grad-1, 5%), lighten($color-grad-2, 5%));
	}

	&:active {
		background: linear-gradient(to right, darken($color-grad-1, 5%), darken($color-grad-2, 5%));
	}
}