$name: btn;

.#{$name} {
	font-size: 1.4rem;
	color: white;
	background: $color-btn;
	display: inline-block;
	border-bottom: none;
	outline: none;
	padding: 1em 4em;
	line-height: 1.2;
	text-transform: uppercase;

	&:hover {
		color: white;
		background: lighten($color-btn, 5%);
	}

	&:active {
		background: darken($color-btn, 5%);
	}
}