$name: btn;

.#{$name} {
	font-size: 1.4rem;
	color: white;
	background: $color-btn;
	display: inline-block;
	outline: none;
	padding: 1em 4em;
	line-height: 1.2;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	text-align: center;

	&:hover {
		color: white;
		background: lighten($color-btn, 5%);
	}

	&:active {
		background: darken($color-btn, 5%);
	}

	&_wide {
		width: 100%;
	}
}