$name: coach;

.#{$name} {
	overflow: hidden;
	display: block;
	border-bottom: none;

	@include screen-sm(max) {
		text-align: center;
	}

	&:hover {

		.#{$name} {
			// =====

			&__img {

				@include screen-sm() {
					transform: scale(1.05);
				}
			}

			&__icon {

				@include screen-sm() {
					display: none;
				}

				&_hover {

					@include screen-sm() {
						display: block;
					}
				}
			}
		}
	}

	&__img-wrap {
		overflow: hidden;
		max-width: 260px;
		margin: 0 auto 10px;
	}

	&__img {
		display: block;
		background: no-repeat center / cover;
		transition: $duration ease;
		padding-bottom: 150%;
	}

	&__title {
		margin: 0 0 10px;

		@include screen-sm(max) {
			text-align: center;
			border-bottom: 1px solid lighten($color-text, 50%);
			display: inline-block;
		}
	}

	&__wrap {
		display: flex;

		@include screen-sm(max) {
			justify-content: center;
		}
	}

	&__icon {
		width: 35px;
		height: 35px;
		margin: 0 5px;

		@include screen-sm() {
			margin: 0 10px 0 0;
		}

		&_right {

			@include screen-sm() {
				margin-right: 0;
				margin-left: auto;
			}
		}

		&_hover {
			display: none;
		}
	}
}