$name: head-block;

.#{$name} {

	&__banner-lg-wrap {

		@include screen-md() {
			padding: 0;
		}
	}

	&__banner-sm-wrap {
		margin-bottom: $space / 2;

		@include screen-md() {
			padding: 0;
			margin-bottom: 0;
		}
	}

	&__last {

		@include screen-md() {
			order: 1;
		}
	}

	&__banner-lg-i {
		position: relative;

		@include screen-md() {
			padding-bottom: 64%;
		}
	}

	&__banner-sm-i {
		margin-bottom: 10px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		@include screen-md() {
			margin: 0;
			padding-bottom: calc((64% / 3) * (9 / 3));
		}
	}

	&__banner-lg {

		@include screen-md() {
			padding-bottom: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 10px;
			bottom: 10px;
		}
	}

	&__banner-sm {

		@include screen-md() {
			padding-bottom: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 10px;
		}
	}

	&__desc {
		margin: $space / 2 0;
	}

	&__btn {
		margin-bottom: $space / 2;
	}

	&_has-title {

		.#{$name} {
			// =====

			&__banner-lg-i {

				@include screen-md() {
					padding-bottom: 69%;
				}
			}

			&__banner-sm-i {

				@include screen-md() {
					padding-bottom: calc((69% / 3) * (7 / 3));
				}

				@include screen-lg() {
					padding-bottom: calc((69% / 3) * (8 / 3));
				}
			}
		}
	}
}