.header {
	flex: 0 0 auto;
	padding: 10px 0;
	box-shadow: 0 5px 5px -5px $color-text-2;
	position: relative;

	@include screen-sm() {
		padding: 20px 0;
	}

	&__row {
		align-items: center;
	}

	&__logo {
		max-height: 50px;
		max-width: 75px;
	}

	&__toggle {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 69px;

		@include screen-sm() {
			display: none;
		}
	}

	&__menu {

		@include screen-sm(max) {
			display: none;
		}
	}
}