.head-block {

	&__banner-lg-wrap {

		@include screen-md() {
			padding: 0;
		}
	}

	&__banner-sm-wrap {

		@include screen-md() {
			padding: 0;
		}
	}

	&__banner-lg-i {
		position: relative;

		@include screen-md() {
			padding-bottom: 69%;
		}
	}

	&__banner-sm-i {
		margin-bottom: 10px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		@include screen-md() {
			margin: 0;
			padding-bottom: calc((69% / 3) * (8 / 4));
		}
	}

	&__banner-lg {

		@include screen-md() {
			padding-bottom: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 10px;
			bottom: 10px;
		}
	}

	&__banner-sm {

		@include screen-md() {
			padding-bottom: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 10px;
		}
	}

	&__desc {
		margin: 1.5em 0 2em;
	}

	&_has-title {

		.head-block {
			// =====

			&__banner-sm-i {

				@include screen-md() {
					padding-bottom: calc((69% / 3) * (7 / 3));
				}

				@include screen-lg() {
					padding-bottom: calc((69% / 3) * (8 / 3));
				}
			}
		}
	}
}