$name: main;

.#{$name} {
	flex: 1 0 auto;

	&__space_bot {
		margin-bottom: $space;
	}

	&__space_bot-half {
		margin-bottom: $space / 2;
	}

	&__mobile_full {

		@include screen-sm(max) {
			padding: 0;
		}
	}

	&__desc {
		margin: $space / 2 0;
	}
}