$name: main;

.#{$name} {
	flex: 1 0 auto;

	&__space_bot {
		margin-bottom: $space;
	}

	&__space_bot-half {
		margin-bottom: $space / 2;
	}

	&__mobile_full {

		@include screen-sm(max) {
			padding: 0;
		}
	}

	&__desc {
		margin: $space / 2 0;
		text-align: justify;
	}

	&__contents-title {
		margin: 0 0 1rem;
		font-weight: bold;
	}

	&__contents-desc {
		margin: .5em 0;
		overflow: hidden;
		text-align: justify;
		font-size: 1.4rem;

		p,
		ul {
			margin: .5em 0;
		}

		&_mb_none {
			margin-bottom: 0;
		}

		&_mb_2x {
			margin-bottom: 1em;
		}
	}

	&__link {
		line-height: 2;
	}
}