$name: news;

.#{$name} {

	&__date {
		margin: 0 0 1rem;
		font-size: 1.8rem;

		@include screen-md() {
			position: absolute;
			right: 15px;
		}
	}

	&__img-wrap {
		display: block;
		padding-bottom: 56%;
		border-bottom: none;
		position: relative;
		overflow: hidden;

		@include screen-sm() {
			padding-bottom: 65%;
			height: 100%;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: no-repeat 50% 50% / cover;
		transition: $duration ease;
		
		&:hover {

			@include screen-md() {
				transform: scale(1.05);
			}
		}
		
		&_contain {
			background-size: contain;
			background-position: 50% 0;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@include screen-sm() {
			padding-left: 0;
		}

		@include screen-md() {
			padding-left: 15px;
		}
	}

	&__title {
		font-size: 1.8rem;
		font-weight: bold;
		margin: 2rem 0 1.5rem;
		width: 100%;
		border-bottom: none;

		@include screen-sm() {
			margin-top: 0;
		}

		@include screen-md() {
			padding-right: 6em;
		}
	}

	&__desc {
		margin: 0 0 2rem;
		max-height: 8em;
		overflow: hidden;
		position: relative;
		height: 100%;
		text-align: justify;

		p {
			margin-top: 0;
		}

		&::after {
			content: '';
			position: absolute;
			display: block;
			bottom: 0;
			margin-top: -1.5em;
			left: 0;
			width: 100%;
			height: 1.5em;
			background: linear-gradient(to top, white, transparent);
			pointer-events: none;
		}
	}

	&__btn {
		margin: 0 auto;

		@include screen-sm() {
			margin-right: 0;
			margin-top: auto;
		}
	}
}