$name: section;

.#{$name} {
	margin-bottom: $space;

	&:first-child {

		@include screen-sm() {
			margin-top: $space / 2;
		}
	}

	&:last-child {
		margin-bottom: $space / 2;
	}

	&_space_half {
		margin-bottom: $space / 2;
	}

	&_space_none {
		margin-bottom: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&_space-top_half {
		margin-top: $space / 2;
	}
}