.section {
	margin-bottom: $space;

	&:first-child {

		@include screen-sm() {
			margin-top: $space / 2;
		}
	}

	&:last-child {
		margin-bottom: $space / 2;
	}

	&_space_half {
		margin-bottom: $space / 2;
	}

	&_space_none {
		margin-bottom: 0;
	}
}