$name: soc;

.#{$name} {
	background-color: black;
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	transition: $duration linear;

	&:hover,
	&:focus {
		color: white;
		transition: none;
	}

	&_vk {

		&:hover,
		&:focus,
		&.active {
			background-color: $color-vk;
		}
	}

	&_facebook {

		&:hover,
		&:focus,
		&.active {
			background-color: $color-fb;
		}
	}

	&_instagram {

		&:hover,
		&:focus,
		&.active {
			background-color: $color-insta;
		}
	}

	&_youtube {

		&:hover,
		&:focus,
		&.active {
			background-color: $color-yt;
		}
	}

	&_heart {

		&:hover,
		&:focus,
		&.active {
			background-color: $color-main;
		}
	}
}