.toggle {
	padding: 15px;
	width: 55px;
	height: 48px;
	display: inline-block;
	cursor: pointer;

	&__line {
		display: block;
		height: 4px;
		margin-bottom: 3px;
		background: $color-main;

		&:last-child {
			margin-bottom: 0;
		}
	}
}