$name: salons;

.#{$name} {
	position: relative;
	cursor: pointer;

	&__text {
		user-select: none;

		&::after {
			content: '\f107';
			display: inline-block;
			font-family: $font-fa;
			margin-left: 5px;
			transition: $duration / 2 ease transform;
			line-height: 1;
		}

		&_opened {
			color: $color-main;

			&::after {
				transform: rotate(180deg);
			}
		}
	}

	&__wrap {
		cursor: default;
		padding: 0;
		margin: 0;
		list-style-type: none;
		position: absolute;
		top: 100%;
		left: 0;
		background: white;
		z-index: 1;
		white-space: nowrap;
		box-shadow: 1px 1px 5px 0 $color-text-2;
		display: none;
	}

	&__item {

		&:first-child {

			.#{$name} {

				&__link {
					padding-top: 12px;
				}
			}
		}

		&:last-child {

			.#{$name} {

				&__link {
					padding-bottom: 12px;
				}
			}
		}
	}

	&__link {
		display: block;
		border: none;
		padding: 6px 15px;
		line-height: 1.4;

		&_active {
			color: $color-text-2;
			cursor: default;

			&:hover {
				color: $color-text-2;
			}
		}
	}
}