$name: header;

.#{$name} {
	flex: 0 0 auto;
	padding: 10px 0 0;
	box-shadow: 0 0 8px -1px $color-text-2;
	position: relative;

	@include screen-sm() {
		padding: 20px 0;
		height: auto;
	}

	&__top {
		align-items: center;
		margin-bottom: 10px;

		@include screen-sm() {
			margin-bottom: 0;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;

		@include screen-sm() {
			display: none;
		}
	}

	&__logo {
		max-height: 50px;
		max-width: 75px;
	}

	&__toggle {
		position: absolute;
		top: 0;
		right: 0;
		height: 70px;
		width: 70px;

		@include screen-sm() {
			display: none;
		}
	}

	&__menu {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		padding: 0;
		margin: 0;
		height: 100%;
		list-style-type: none;

		@include screen-xl() {
			justify-content: space-between;
		}

		@include screen-sm(max) {
			display: none;
		}
	}

	&__menu-item {
		font-size: 1.4rem;
		position: relative;

		&:hover {

			.#{$name} {
				// =====

				&__menu-link {
					color: $color-main;
				}
			}
		}

		&.active {

			.#{$name} {
				// =====

				&__menu-link {
					color: $color-main;
				}
			}
		}
	}

	&__menu-link {
		line-height: 2;
		color: $color-text;
		border-bottom: none;
		display: block;

		&:hover {
			color: $color-main;
		}

		&[href="#"] {
			color: lighten($color-text, 25%);
			cursor: default;

			&:hover {
				color: lighten($color-text, 25%);
			}
		}
	}

	&__sub-wrap {
		display: none;
		padding: 8px 4px 4px;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;

		&_visible {

			.#{$name}__sub {

				&::before,
				&::after {
					transition: $duration ease border;
				}

				&::before {
					border-bottom-width: 8px;
				}

				&::after {
					border-bottom-width: 6px;
				}
			}
		}
	}

	&__sub {
		list-style-type: none;
		white-space: nowrap;
		background: white;
		padding: 0;
		box-shadow: 0 0 4px 0 $color-text-2;
		position: relative;

		&::before,
		&::after {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 50%;
			transition: $duration / 2 ease border;
		}

		&::before {
			border-bottom: 0 solid white;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			margin-left: -7px;
			filter: drop-shadow(0 -1px 1px $color-text-2);
		}

		&::after {
			border-bottom: 0 solid white;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			margin-left: -5px;
		}
	}

	&__sub-item {

		&:first-child {

			.#{$name}__sub-link {
				padding-top: 8px;
			}
		}

		&:last-child {

			.#{$name}__sub-link {
				padding-bottom: 8px;
			}
		}

		&.active {

			.#{$name} {
				// =====

				&__sub-link {
					color: $color-main;
				}
			}
		}
	}

	&__sub-link {
		border-bottom: none;
		line-height: 2;
		padding: 0 24px;
		display: block;

		&[href="#"] {
			color: lighten($color-text, 25%);
			cursor: default;

			&:hover {
				color: lighten($color-text, 25%);
			}
		}
	}

	&__menu-separator {
		width: 1px;
		height: 5px;
		background: $color-grad-1;
		margin: 0 10px;

		&:last-child {
			display: none;
		}
	}

	&__link {
		line-height: 2.5;
		color: $color-text;
		border-bottom: none;
		display: block;
		padding: 0 15px;

		&:hover {
			color: $color-main;
		}

		&.active {
			color: $color-main;
		}
	}
}