$name: schedule;

.#{$name} {

	&__head {}

	&__title {
		display: inline-block;
		margin-bottom: $space * (1 / 3);

		@include screen-sm() {
			margin-bottom: 10px;
		}

		&_active {
			color: $color-main;
			border-bottom: 1px solid lighten($color-main, 30%);
		}
	}

	&__params {
		display: flex;
		justify-content: space-between;
	}

	&__param {
		width: calc(100% / 6);
		position: relative;
		padding: 0 1em;
		margin: 0 -5px;

		&::after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -.5em;
			width: 1px;
			height: 1em;
			background: $color-main;
		}

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;

			&::after {
				content: none;
			}
		}
	}

	&__param-i {
		position: relative;
		cursor: default;
		padding: 5px;

		&:hover {

			.#{$name} {

				&__param-title,
				&__param-value {
					color: $color-main;
				}
			}
		}

		&_opened {

			.#{$name} {

				&__param-title {

					&::after {
						transform: rotate(180deg);
						transition-duration: $duration;
					}
				}
			}
		}
	}

	&__param-title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: bold;
		position: relative;
		padding-right: 1em;

		&::after {
			content: '\f107';
			font-family: $font-fa;
			font-weight: normal;
			font-size: 1.3em;
			line-height: 0;
			position: absolute;
			right: 0;
			top: 50%;
			transition: $duration / 2 ease transform;
		}
	}

	&__param-value {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__param-sub {
		@extend .header__sub-wrap;
		width: 100%;
		cursor: auto;
	}

	&__param-sub-i {
		background: white;
		box-shadow: 0 0 4px 0 $color-text-2;
	}

	&__param-sub-item {
		display: none;

		+ label {
			display: block;
			padding: 5px 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			cursor: pointer;

			&::before {
				content: '\2714';
				display: inline-block;
				font-size: 0;
				transition: $duration ease font-size, $duration ease margin;
			}

			&:nth-child(2) {
				padding-top: 10px;
			}

			&:last-child {
				padding-bottom: 10px;
			}

			&:hover {
				color: $color-main;
			}
		}

		&:checked + label {

			&::before {
				font-size: 1.6rem;
				margin-right: 10px;
			}
		}
	}

	&__cats {
		text-align: center;
	}

	&__cats-i {
		display: inline-block;
		border: 1px solid $color-text;
		padding: 0;
		list-style-type: none;
		text-align: left;
	}

	&__cats-item {
		display: inline-block;
		padding: .5em .7em;
		cursor: pointer;

		.#{$name} {

			&__cats-item-i {
				border-bottom: 1px solid transparent;
			}
		}

		&:hover {

			.#{$name} {

				&__cats-item-i {
					color: $color-main;
				}
			}
		}

		&_all {}

		&_active {
			font-weight: bold;

			.#{$name} {

				&__cats-item-i {
					border-bottom-color: lighten($color-text, 30%);
				}
			}

			&:hover {

				.#{$name} {

					&__cats-item-i {
						border-bottom-color: lighten($color-main, 30%);
					}
				}
			}
		}
	}

	&__cats-item-i {
		display: inline-block;
		user-select: none;
	}

	&__body {}
}