//TODO Может быть перекрасить стрелочки???

$name: slider;

.#{$name} {

	.slick-list {
		height: 100%;
	}

	.slick-track {
		height: 100%;
	}

	&:hover {

		.#{$name} {
			// =====

			&__prev,
			&__next {
				opacity: 1;
			}
		}
	}

	&__i {
		outline: none;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 25%;
			background: linear-gradient(to top, rgba(0, 0, 0, .85), transparent);
		}
	}

	&__prev,
	&__next {
		position: absolute;
		z-index: 1;
		width: 15%;
		cursor: pointer;
		font-size: 5rem;
		color: white;
		transition: $duration ease opacity;
		top: 50%;
		transform: translateY(-50%);
		padding-bottom: 15%;

		&::after {
			font-family: $font-fa;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:hover {
			color: $color-text-2;
		}

		@include screen-md() {
			width: 10%;
			top: 0;
			transform: none;
			padding-bottom: 0;
			height: 100%;
			opacity: 0;
		}
	}

	&__prev {
		left: 0;
		background: linear-gradient(to right, $color-fog-light 0%, $color-fog-light 50%, transparent 100%);

		&::after {
			content: '\f104';
		}
	}

	&__next {
		right: 0;
		background: linear-gradient(to left, $color-fog-light 0%, $color-fog-light 50%, transparent 100%);

		&::after {
			content: '\f105';
		}
	}

	&__dots {
		position: absolute;
		bottom: 0;
		left: 15%;
		width: 70%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;

		li {
			display: inline-block;
			margin-bottom: -4px;
			padding: .5em .7em 1.5em;
			cursor: pointer;

			&:hover {

				.#{$name} {
					// =====

					&__dot {
						background: $color-text-2;
					}
				}
			}

			@include screen-md() {
				padding-left: .5em;
				padding-right: .5em;
			}

			&.slick-active {

				.#{$name} {
					// =====

					&__dot {
						background: $color-text-2;
					}
				}
			}
		}

		@include screen-md() {
			left: 10%;
			width: 80%;
		}
	}

	&__dot {
		width: .8em;
		height: .8em;
		border-radius: 50%;
		background: white;
		display: block;
	}

	&.slick-slider {

		.#{$name} {
			// =====

			&__i {
				position: relative;
			}
		}
	}
}