include ../components/head-block
include ../mixins/banner
include ../mixins/bread

.section.section_space_half
	.container
		h1.title Airfit

.section.section_space_half
	.container
		+bread(menu)

.section.section_space_half

	+head-block(
		smData= banner_sm_airfit
		lgData= banner_lg_airfit
		textData= head_block__last_airfit
	)

.section
	.container.main__mobile_full.main__space_bot-half
		+banner(banner_airfit)

	.container
		.text-center
			a.btn(href="#") Записаться

include ../components/address