include ../components/head-block
include ../mixins/banner

.section.section_space_half
	.container
		h1.title Дети

	+head-block(
		smData= banner_sm_children
		lgData= banner_lg_children
		textData= head_block__last_children
	)

.section
	.container
		.container.main__mobile_full.main__space_bot-half
			+banner(banner_children)

	.container
		.text-center
			a.btn(href="#") Заказать визит