include ../components/head-block

.section.section_space_half
	h1.title Клубы

	+head-block(
		subTitle= "Текст о клубах"
		btn= "Заказать визит"
		smData= banner_sm
		lgData= banner_lg_salons
	)

include ../components/address