include ../components/head-block

.section.section_space_half
	.container
		h1.title Клубы

	+head-block(
		smData= banner_sm_clubs
		lgData= banner_lg_clubs
		textData= head_block__last_clubs
	)

include ../components/address