include ../mixins/banner

.section.section_space_none
	.container
		h1.title Наша команда

.section
	.container.main__mobile_full
		+banner(banner_command)

.section
	.container
		h2.title= global[0].addresses[1].name
		div
			p Парус на Воскресенской  - комфортный и уютный фитнес-клуб премиум класса, расположенный в самом сердце Санкт-Петербурга. К услугам клиентов бассейн с первоклассной системой очистки, тренажерные залы с новейшим оборудованием Techno Gym и залы для групповых занятий.

.section
	.container.main__mobile_full
		+banner(banner_command_2)