.section
	.container
		h1.title Контактная информация

.section
	.container
		.row.tab
			.col-lg-8
				.row.tab__head
					.col-lg-6
						a.tab__title.tab__title_active(href="#panel-1" id="address-1") Фитнес-клуб Парус Парадный
					.col-lg-6
						a.tab__title(href="#panel-2" id="address-2") Фитнес-клуб Парус Воскресенский

			.col-lg-4

			.col-sm-5.push-sm-7.col-lg-4.push-lg-8.tab__body
				each val, i in global[0].addresses
					.tab__panel(
						class= i == 0 ? 'tab__panel_active' : ''
						id= 'panel-' + (i + 1)
					)
						.tab__content
							p
								b Адрес
								br
								= val.index + ', ' + val.country + ', ' + val.city + ', ' + val.address

							p
								b Режим работы:
								br
								= val.time_1 + ' по будням'
								br
								= val.time_2 + ' по выходным и праздникам'

							p
								b Телефоны:
								br
								a(href= val.tel_link)= "+7 " + val.tel

							p
								b Электронная почта:
								br
								a(href= "mailto:" + val.mail)= val.mail

						.tab__btn-wrap
							a.btn(href="#") Заказать визит

			.col-sm-7.pull-sm-5.col-lg-8.pull-lg-4.main__mobile_full
				#map.map