include ../components/head-block
include ../mixins/banner

.section.section_space_half
	.container
		h1.title Культурные программы

	+head-block(
		smData= banner_sm_cultural
		lgData= banner_lg_cultural
		textData= head_block__last_cultural
	)

.section
	.container
		.main__space_bot-half
			each val in banner_cultural
				+banner(val)
		.text-center
			a.btn(href="#") Получать новости