include ../components/head-block
include ../mixins/banner

.section.section_space_half
	h1.title Feel Fresh Bar

	+head-block(
		smData= banner_sm_fresh_bar
		lgData= banner_lg_fresh_bar
		textData= head_block__last_fresh_bar
	)

.section
	.container
		.main__space_bot-half
			each val in banner_fresh_bar
				+banner(val)
		.text-center
			a.btn(href="#") Позвонить

include ../components/address