include ../components/head-block

.section.section_space_none
	h1.title Возраст счастья

	+head-block(
		btn= "Записаться"
		subTitle= "Имиджевый текст"
		smData= banner_sm_happy_age
		lgData= banner_lg_salons
	)