include ../components/head-block

.section.section_space_none
	.container
		h1.title Возраст счастья

	+head-block(
		smData= banner_sm_happy_age
		lgData= banner_lg_happy_age
		textData= head_block__last_happy_age
	)