.section
	.container
		.row
			.col-md-7.push-md-2.col-lg-8.push-lg-1.main__banner-lg-wrap
				.main__banner-lg-i
					.banner-lg.main__banner-lg(style="background-image: url(img/img-1.jpg);")
						p.banner-lg__welcome Добро пожаловать на борт
						a.btn.banner-lg__btn(href="#") Заказать визит

			.col-12.main__md-last
				.text-center
					h2.title Почему парус?
					.main__desc
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod o eiusmod tempor incididunt uxxbt rem ipsum dolor sit amet, consecteUt enim ad Lorem ipsum dolor sit amet, consectetur adipis
					a.btn.hidden-sm(href="#") Заказать визит

			.col-md-3.push-md-2.push-lg-1.main__banner-sm-wrap
				.main__banner-sm-i
					a.banner-sm.main__banner-sm(href="#")
						.banner-sm__img(style="background-image: url(img/img-2.jpg);")
						.banner-sm__text Акции
				.main__banner-sm-i
					a.banner-sm.main__banner-sm(href="#")
						.banner-sm__img(style="background-image: url(img/img-3.jpg);")
						.banner-sm__text Новости
				.main__banner-sm-i
					a.banner-sm.main__banner-sm(href="#")
						.banner-sm__img(style="background-image: url(img/img-4.jpg);")
						.banner-sm__text Расписание