include ../components/head-block

.section.section_space_half
	.container
		h1.title Преимущества членства

	+head-block(
		smData= banner_sm_membership
		lgData= banner_lg_membership
		textData= head_block__last_membership
	)

include ../components/address