include ../components/head-block

.section.section_space_half
	h1.title Преимущества членства

	+head-block(
		subTitle= "Имиджевый текст"
		btn= "Заказать визит"
		smData= banner_sm_membership
		lgData= banner_lg_membership
	)

include ../components/address