include ../mixins/banner

.section.section_space_half
	.container.main__mobile_full
		+banner(banner_about)

.section
	.container
		h1.title Название новости
		.main__desc

			- for (var i = 0; i < 3; i++) {
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolore ea ex ipsum nam qui reprehenderit unde? Aperiam fugiat labore odio! Atque ex facilis harum minus perspiciatis porro, provident quae temporibus? Aspernatur eius, eligendi eos eum in laboriosam natus necessitatibus nemo, omnis rerum unde vel voluptate voluptatibus? Deserunt, repellat, voluptas.
			- }