include ../mixins/banner

.section
	.container
		h1.title Прайс-лист

	.container.main__mobile_full
		+banner(banner_schedule)

.section.section_space_none
	.container
		include ../components/price

.section
	.container

		.text-center
			a.btn(href="#") Заказать визит