include ../components/head-block
include ../mixins/banner
include ../mixins/comment

.section.section_space_half
	.container
		h1.title Салоны

	+head-block(
		smData= banner_sm_salons
		lgData= banner_lg_salons
		textData= head_block__last_salons
	)

.section
	.container
		.main__space_bot-half
			each val in banner
				+banner(val)
		.text-center
			a.btn(href="#") Записаться

.section.section_space_half
	.container
		h2.title Отзывы
		.row
			each val in comment
				.col-sm-6.col-lg-3.main__space_bot-half
					+comment(val)

include ../components/address