include ../mixins/banner

.section
	.container
		h1.title Расписание

	.container.main__mobile_full
		+banner(banner_schedule)

.section.section_space_half
	.container
		include ../components/schedule

.section
	.container

		.main__desc
			p= global[1].fish

		.text-center
			a.btn.hidden-xs(href="#") Заказать визит