$name: icon;

.#{$name} {
	display: flex;
	align-items: center;
	height: 100%;
	border-bottom: none;

	&:hover {
		color: $color-text;

		.#{$name} {
			// =====

			&__img {

				@include screen-md() {
					display: none;
				}

				&_hover {

					@include screen-md() {
						display: block;
					}
				}
			}

			&__text-i {

				@include screen-md() {
					color: $color-main;
					border-bottom-color: lighten($color-main, 30%);
				}
			}
		}
	}

	&_active {

		.#{$name} {
			// =====

			&__img {
				display: none;

				&_hover {
					display: block;
				}
			}

			&__text-i {
				color: $color-main;
				border-bottom-color: lighten($color-main, 30%);
			}
		}
	}

	&__img {
		width: 4rem;
		height: 4rem;
		margin-right: 1.5rem;

		&_hover {
			display: none;
		}
	}

	&__text {}

	&__text-i {
		display: inline;
		border-bottom: 1px solid lighten($color-text, 50%);
	}

	&_active {
		cursor: default;
	}
}