$name: cats;

.#{$name} {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
	max-width: 300px;

	@include screen-sm() {
		display: inline-flex;
		flex-wrap: wrap;
		max-width: none;
	}

	&__item {
		padding: .5em .7em;
		cursor: pointer;
		border: 1px solid $color-text;
		margin-left: -1px;
		margin-top: -1px;
		text-align: center;

		.#{$name} {

			&__item-i {
				border-bottom: 1px solid transparent;
			}
		}

		&:hover {

			.#{$name} {

				&__item-i {
					color: $color-main;
				}
			}
		}

		@include screen-sm() {
			flex-grow: 1;
		}

		&_all {}

		&_active {
			font-weight: bold;

			.#{$name} {

				&__item-i {
					border-bottom-color: lighten($color-text, 30%);
				}
			}

			&:hover {

				.#{$name} {

					&__item-i {
						border-bottom-color: lighten($color-main, 30%);
					}
				}
			}
		}
	}

	&__item-i {
		display: inline-block;
		user-select: none;
	}
}