html {
	height: 100%;
	font-size: 10px;
}

body {
	height: 100%;
	font-size: 1.5rem;
	font-family: $font-main;
	color: $color-text;
	letter-spacing: 0.06666666em;
	line-height: 1.2;
}

input,
textarea {
	//-webkit-appearance: none;
	//border-radius: 0;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

textarea {
	resize: none;
}

hr {
	margin: 0;
}

::selection {

}