$name: aside;

.#{$name} {
	position: fixed;
	top: 0;
	right: -250px;
	bottom: 0;
	width: 250px;
	max-width: 67%;
	background: white;
	padding: 70px 0 0;
	transition: $duration / 2 ease;
	z-index: 30;

	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow: auto;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__item {

		&:hover,
		&.active {

			.#{$name} {
				// =====

				&__link {
					color: $color-main;
				}
			}
		}

		&_sub {

			.#{$name} {
				// =====

				&__link {
					position: relative;

					&::after {
						content: '\f107';
						font-family: $font-fa;
						position: absolute;
						right: 15px;
						transition: $duration ease transform;
					}
				}
			}
		}

		&_opened {

			.#{$name} {
				// =====

				&__link {

					&::after {
						transform: rotate(180deg);
					}
				}
			}
		}

		&_modal {
			margin-bottom: 1rem;

			.#{$name} {
				// =====

				&__link {
					color: $color-btn;
				}
			}

			&:hover {

				.#{$name} {
					// =====

					&__link {
						color: lighten($color-btn, 5%);
					}
				}
			}

			&:active {

				.#{$name} {
					// =====

					&__link {
						color: darken($color-btn, 5%);
					}
				}
			}
		}

		&_bottom {
			margin-top: auto;
		}
	}

	&__link {
		padding: 8px 15px;
		line-height: 1.1;
		display: block;
		border-bottom: none;

		&[href="#"]:not([data-modal]) {
			color: lighten($color-text, 25%);
			cursor: default;

			&:hover {
				color: lighten($color-text, 25%);
			}
		}
	}

	&__sub-list {
		list-style-type: none;
		padding: 5px 0 10px;
		margin: 0;
		display: none;
	}

	&__sub-item {

		&.active {

			.#{$name} {
				// =====

				&__sub-link {
					color: $color-main;
				}
			}
		}
	}

	&__sub-link {
		padding: 8px 15px 8px 30px;
		display: block;
		border-bottom: none;
	}

	&_opened {
		right: 0;
		transition: $duration ease;
	}
}