// ASIDE
aside.aside

	ul.aside__list

		each val in menu
			li.aside__item(class= val.sub ? 'aside__item_sub' : '')
				a.aside__link(href= val.link)= val.text

				if val.sub
					ul.aside__sub-list

						each sub in val.sub
							li.aside__sub-item
								a.aside__sub-link(href= sub.link)= sub.text