include ../mixins/soc

- var aboutLink = 'about.html';
- var copyLink = '#';

// FOOTER
footer.footer
	.container.footer__wrap
		.footer__center.visible-xs
			a.btn.main__space_bot-half(href= global[0].addresses[0].tel_link data-salon='1') Позвонить
			a.btn.main__space_bot-half(href= global[0].addresses[1].tel_link data-salon='2') Позвонить

		.footer__soc-wrap
			each val in soc
				+soc(val)(class='footer__soc')

		.footer__item.footer__company-wrap(class= aboutLink == page.link ? 'active' : '')
			a.footer__company(href= aboutLink) О компании

		.footer__item.footer__copy-wrap(class= copyLink == page.link ? 'active' : '')
			.footer__copy-text © 2017 ООО «Парус»
			a.footer__copy-link(href= copyLink) Политика конфиденциальности

		.footer__webcenter-wrap
			a.footer__webcenter(href="http://webcenter.pro" target="_blank") Разработано в Webcenter.pro