include ../mixins/menu

// HEADER
header.header
	.container
		.row.header__row

			.col-6.col-sm-3.col-md-2.col-lg-1
				a.logo.header__logo(href="/")
					img.logo__img(src="img/logo.svg")

			.col
				.header__toggle
					.toggle
						span.toggle__line
						span.toggle__line
						span.toggle__line

				+menu(menu)(class="header__menu")