// HEADER
header.header
	.container
		.row.header__top

			.col-6.col-sm-3.col-md-2.col-lg-1.header__logo-wrap
				a.logo.header__logo(href="/")
					img.logo__img(src="img/logo-without-text.svg" alt="Логотип")
					.header__logo-text Группа компаний

			.col
				ul.header__menu

					each val in menu
						li.header__menu-item(class= val.link == page.link ? 'active' : '')
							a.header__menu-link(href= val.link)= val.text

							if val.sub
								.header__sub-wrap
									ul.header__sub

										each sub in val.sub
											li.header__sub-item(class= val.link == page.link ? 'active' : '')
												a.header__sub-link(href= sub.link)= sub.text

						li.header__menu-separator

		.row.header__bottom
			include ../components/salons

			a.header__link(
				class= page.link == 'schedule.html' ? 'active' : ''
				href="schedule.html"
			) Расписание

		.text-center
			a.btn.main__space_bot-half.visible-xs(href='#' data-modal='#modal') Заказать визит

	.toggle.header__toggle
		.toggle__wrap
			span.toggle__line
			span.toggle__line
			span.toggle__line