// HEADER
header.header
	.container
		.row.header__row

			.col-6.col-sm-3.col-md-2.col-lg-1
				a.logo.header__logo(href="/")
					img.logo__img(src="img/logo.svg" alt="Логотип")

			.col
				ul.header__menu
					each val in menu
						li.header__menu-item(class= val.link == page.link ? 'active' : '')
							a.header__menu-link(href= val.link)= val.text

							if val.sub
								.header__sub-wrap
									ul.header__sub

										each sub in val.sub
											li.header__sub-item(class= val.link == page.link ? 'active' : '')
												a.header__sub-link(href= sub.link)= sub.text

						li.header__menu-separator

	.toggle.header__toggle
		.toggle__wrap
			span.toggle__line
			span.toggle__line
			span.toggle__line