// MODAL
#modal.modal
	.modal__wrap
		.modal__head
			h4.title.modal__title Заказать визит
			.modal__close
		.modal__body
			form
				input.input.modal__input(type="text", placeholder='Имя')
				input.input.modal__input(type="tel", placeholder='Телефон')
				input.input.modal__input(type="email", placeholder='Электронная почта')
				textarea.input.modal__input(placeholder='Комментарий')

				button.btn.modal__btn(type="submit") Отправить

// MODAL
#modalSalons.modal
	.modal__wrap
		.modal__head
			h4.title.modal__title Выберите салон
			.modal__close
		.modal__body

			each val, i in global[0].addresses
				a.btn.modal__input(href="schedule.html" data-club-title=(i+1))= val.name + ' (Взрослое)'
				a.btn.modal__input(href="schedule.html" data-club-title=(i+1))= val.name + ' (Детское)'

// MODAL
#modalTel.modal
	.modal__wrap
		.modal__head
			h4.title.modal__title Выберите телефон
			.modal__close
		.modal__body

			each val in global[0].addresses
				a.btn.modal__input(href= val.tel_link)= val.name